@model AppDomainLayer.Models.ViewModel.LoginUserViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row mt-5">
    <div class="col-md-4 border p-3 mx-auto">
        <h1>Login</h1>
        <hr />
        <div class="text-success text-center">@TempData["errorMsg"]</div>
        <div class="text-success text-center">@TempData["successMSG"]</div>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRemember" /> @Html.DisplayNameFor(model => model.IsRemember)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="SignUp" asp-controller="Account">Register</a>
            </div>
        </form>
        <div class="form-group mt-3">
            <a asp-action="ForgotUserName" asp-controller="Account">Forgot UserName?</a>
            <a asp-action="ForgoPassword" asp-controller="Account">Forgot Password?</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
